.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 10;
    overflow-x: hidden;
    padding-top: 20px;
}

#annualTitle{
    font-size: 50px;
    color: wheat;
}

#digitalTitle{
    font-size: 50px;
    color: black;
}

#leftContainer{
    left: 0;
    background-color: #00203FFF;
    text-align: center;
}

#clockContainer{
    margin-top: 10%;
    text-align: center;
}

#myDate, #myTime{
    color: wheat;
    font-family: consolas, monospace;
    font-size: 30px;
}

#rightContainer{
    right: 0;
    background-color: #ADEFD1FF;
    text-align: center;
    justify-content: center;
}

#alarmContainer{
    display: grid;
    grid-template-columns: 170px 70px 170px 70px 170px 170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 820px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px lightgray;
}

#displayHour{
    grid-column: 1/2;
    text-align: center;
}

#displayDot1{
    grid-column: 2/3;
    text-align: center;
}

#displayMinute{
    grid-column: 3/4;
    text-align: center;
}

#displayDot2{
    grid-column: 4/5;
    text-align: center;
}

#displaySecond{
    grid-column: 5/6;
    text-align: center;
}

#displayFullTime{
    grid-column: 1/6;
    grid-row: 2/2;
    text-align: center;
}

.textTime{
    font-size: 100px;
    color: red;
    text-shadow: 2px 2px 5px lightpink;
    font-family: consolas, monospace;
}


#dFullTime{
    font-size: 35px;
    color: red;
    text-shadow: 2px 2px 5px lightpink;
    font-family: consolas, monospace;
}